body {
    background-color: #17b9a7;
    margin: 0;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-between {
    display: block;
    justify-content: space-between;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column {
    width: 100%;
    margin: 2px 0;
    /* background-color: pink; */
}

.w-full {
    width: 100%;
}

.w-50 {
    width: 100%;
}

@media only screen and (min-width: 500px) {
    .column {
        width: calc(50% - 36px);
        margin: 2px 2px;
    }
}

@media only screen and (min-width: 768px) {

    .w-50 {
        width: 50%;
    }

    .flex-between {
       display: flex;
    }

    .flex-wrap {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .column {
        width: calc(25% - 36px);
        margin: 0 2px;
    }

    .column:first-child {
        width: calc(40% - 36px);
    }
}



.btn {
    text-align: center;
    padding: .5em 2em;
    display: flex;
    justify-content: center;
    min-width: 130px;
    align-items: center;
}

.primary-btn {
    color: #fff;
    background-color: #17b9a7;
}

.primary-btn:hover {
    background-color: #8a46ca;
}


.tag {
    border: 1px solid #343434;
    padding: .2em 1em;
}


/* ----------------- navigation ----------------- */
.nav {
    list-style-type: none;
    padding-left: 0;
}

.nav-link {
    text-decoration: none;
    color: #fff;
}

.nav-link:hover {
    text-decoration: underline;
}


/* ----------------- main ----------------- */
.homepage-main {
    background-color: #fff;
    padding: 1em 0;
    width: 100%;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: auto;
    display: block;
}



.card-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 860px;
    background-color: burlywood;
    align-items: center;
}

@media only screen and (min-width: 992px) {
    .card-section {
        background-color: pink;
    }
}

@media only screen and (min-width: 1200px) {
    .card-section {
        background-color: brown;
    }
}


@media only screen and (min-width: 1250px) {
    .card-section {
        background-color: burlywood;
    }
}

.card {
    box-shadow: 0px 0px 10px rgb(0 0 0 / 50%);
    max-width: 200px;
    border-radius: .625em;
    padding: .5em;
    margin-right: 1em;
/*     margin-bottom: 1em;
 */ height: 100%;
}


.card-header {
    padding: 0.5em;
}

.card-img {
    width: 100%;
    border-radius: .625em;
}

.card-body {
    padding: .5em;
}

.card-text {
    font-size: .75em;
}


.card:nth-child(odd) {
    background: pink;
}

.card:nth-child(even) {
    background: green;
}

article.card:first-child {
    background: yellow;
}

article.card:last-child {
    background: red;
    margin-right: 0;
}

.card:nth-child(4) {
    margin-right: 0;
}


/* ----------------- footer ----------------- */


.main-footer, .main-header {
    background-color: #222;
    color: #fff;
}


.main-footer .column {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 1em;
}

.main-footer .heading {
    text-transform: uppercase;
}